*
{
    margin: 0;
    padding: 0;
}
body {
}
#toolbar
{
    background: #000000;
  border-bottom: 1px solid #111b32;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 44px;
  box-shadow: 0 3px 5px rgba(34,34,34,0.5);
}
#open-left
{
    background: url(open.png) center center no-repeat;
    display: block;
    width: 44px;
    height: 44px;
}
#toolbar h1 {
  color: #fff;
  font-size: 16px;
  
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 44px;
  left: 44px;
  width: auto;
  height: 44px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  vertical-align: middle;
}
.snap-drawers {
  background: #323949;
    color: #eee
}
.snap-drawer h3 {
  font-size: 36px;
  font-weight: normal;
  margin: 15px;
}
